/************************** TAG ******************************/

body {
    margin: 0;
    text-align: center;
}

div {
    background-color: #6D8B74;
}

h1 {
    margin-top: 0;
}

/************************** CLASS ******************************/

.div1 {
    background-color: red;
    height: 200px;
    width: 200px;   
    position: absolute;
    left: 400px;
    top: 400px;
}

.div2 {
    background-color: blue;
    height: 200px;
    width: 200px;    
    position: absolute;
    left: 200px;
    top: 200px;
}

.div3 {
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0px;
}