/************************** TAG ******************************/

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.1em;
}

div {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

h1 {
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    line-height: 1;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

/************************** CLASS ******************************/

.intro-text {
    text-decoration-line: underline
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 25%;
}

.bottom-cloud {
    position: absolute;
    left: 25%;
}